[submodule "prismarine-world"]
	path = libs/prismarine-world
	url = https://github.com/leo4life2/prismarine-world.git
[submodule "minecraft-protocol"]
	path = libs/minecraft-protocol
	url = git@github.com:leo4life2/node-minecraft-protocol.git
[submodule "mineflayer"]
	path = libs/mineflayer
	url = git@github.com:leo4life2/mineflayer.git
[submodule "mineflayer-collectblock"]
	path = libs/mineflayer-collectblock
	url = git@github.com:leo4life2/mineflayer-collectblock.git
[submodule "mineflayer-auto-eat"]
	path = libs/mineflayer-auto-eat
	url = git@github.com:leo4life2/mineflayer-auto-eat.git
[submodule "mineflayer-pvp"]
	path = libs/mineflayer-pvp
	url = git@github.com:leo4life2/mineflayer-pvp.git
